<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    html {
        height: 100%
    }

    body {
        height: 100%
    }

    #root {
        height: 100%
    }

   
</style>
<script src="/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/antd.css" />
<link rel="stylesheet" type="text/css" href="/index.css" />

<body>
    <div id="root"></div>
</body>
<script src="/dll/vendors.js"></script>
<script src="/index.js"></script>

</html>